body{
    --primary-color: 240, 52, 60;
    --foreground-color: 26 29 35;
}



.text-xl{
    font-size: 4.5rem;
    line-height: 1;
}

.primary-text{
    color: rgba(var(--primary-color));
}

.font-bold{
    font-weight: 700;
}

.text-foreground{
    color: var(--foreground-color);
}


section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

section > div{
    margin: 48px 0px;
}




nav{
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 24px;
}

.hero{
  background-image: 
    linear-gradient(to bottom, rgba(47, 39, 150, 100), rgba(var(--primary-color), 0.2)),
    url("assets/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.hero-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hero-info > div{
    max-width: 56rem;
}

.template-gallery{


}

.template-gallery-header{

}

.websiteThumbnail{
    width: 30%;
    border-radius: 20px;
}
.websiteThumbnail:hover{
    cursor: pointer;
}


